In [1]:
import os
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
files = [f for f in os.listdir(r''\Users\ad846\Desktop\Projet Data\DATASET'')]
for fichier in files:
    print(fichier)

April.csv
August.csv
December.csv
February.csv
January.csv
July.csv
June.csv
March.csv
May.csv
November.csv
October.csv
September.csv

In [3]:
# On introduit une variable de chemin d'accès au fichier
path = r'\Users\ad846\Desktop\Projet Data\DATASET'
# Définir la dataframe
All_Sales_Data = pd.DataFrame()

for fichier in files:
    csv_file = pd.read_csv(path + '/' + fichier)
    All_Sales_Data = pd.concat([All_Sales_Data, csv_file], ignore_index=True)

In [4]:
All_Sales_Data.to_csv(path + '/All_Sales_Data.csv', index=False)

In [23]:
All_Sales_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171151 entries, 0 to 186849
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          171151 non-null  object
 1   Product           171151 non-null  object
 2   Quantity Ordered  171151 non-null  object
 3   Price Each        171151 non-null  object
 4   Order Date        171151 non-null  object
 5   Purchase Address  171151 non-null  object
 6   Month             171151 non-null  object
dtypes: object(7)
memory usage: 14.5+ MB

In [22]:
All_Sales_Data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04

In [6]:
All_Sales_Data =  All_Sales_Data.dropna()

In [8]:
All_Sales_Data.drop_duplicates

<bound method DataFrame.drop_duplicates of        Order ID                     Product Quantity Ordered Price Each  \
0        176558        USB-C Charging Cable                2      11.95
2        176559  Bose SoundSport Headphones                1      99.99
3        176560                Google Phone                1        600
4        176560            Wired Headphones                1      11.99
5        176561            Wired Headphones                1      11.99
...         ...                         ...              ...        ...
186845   259353      AAA Batteries (4-pack)                3       2.99
186846   259354                      iPhone                1        700
186847   259355                      iPhone                1        700
186848   259356      34in Ultrawide Monitor                1     379.99
186849   259357        USB-C Charging Cable                1      11.95

            Order Date                         Purchase Address
0       04/19/19 08:46             917 1st St, Dallas, TX 75001
2       04/07/19 22:30        682 Chestnut St, Boston, MA 02215
3       04/12/19 14:38     669 Spruce St, Los Angeles, CA 90001
4       04/12/19 14:38     669 Spruce St, Los Angeles, CA 90001
5       04/30/19 09:27        333 8th St, Los Angeles, CA 90001
...                ...                                      ...
186845  09/17/19 20:56   840 Highland St, Los Angeles, CA 90001
186846  09/01/19 16:00  216 Dogwood St, San Francisco, CA 94016
186847  09/23/19 07:39     220 12th St, San Francisco, CA 94016
186848  09/19/19 17:30   511 Forest St, San Francisco, CA 94016
186849  09/30/19 00:18   250 Meadow St, San Francisco, CA 94016

[171151 rows x 6 columns]>

In [35]:
def month(x):
    return str(x).split('/')[0]
All_Sales_Data['Month'] = All_Sales_Data['Order Date'].apply(month)
# Remove rows where 'Quantity Ordered' is not numeric
All_Sales_Data = All_Sales_Data[All_Sales_Data['Month'].str.isnumeric()]

# Convert 'Quantity Ordered' to integer
All_Sales_Data['Month'] = All_Sales_Data['Month'].astype(int)
All_Sales_Data['Month'].unique()

array([ 4,  5,  8,  9, 12,  1,  2,  3,  7,  6, 11, 10])

In [36]:
All_Sales_Data['Month'].unique()

array([ 4,  5,  8,  9, 12,  1,  2,  3,  7,  6, 11, 10])

In [37]:
All_Sales_Data['Month'] = All_Sales_Data['Month'].astype(int)

In [38]:
# Remove rows where 'Quantity Ordered' is not numeric
All_Sales_Data = All_Sales_Data[All_Sales_Data['Quantity Ordered'].str.isnumeric()]

# Convert 'Quantity Ordered' to integer
All_Sales_Data['Quantity Ordered'] = All_Sales_Data['Quantity Ordered'].astype(int)

All_Sales_Data['Price Each'] = All_Sales_Data['Price Each'].astype(float)

AttributeError: Can only use .str accessor with string values!

In [32]:
All_Sales_Data.dtypes

Order ID             object
Product              object
Quantity Ordered      int32
Price Each          float64
Order Date           object
Purchase Address     object
Month                object
dtype: object